<nav class="nav flex-column nav-pills col-2 p-2">
  {{#register}}
    <a class="nav-link active" aria-current="page" href="/process/register">Đăng ký</a>
  {{/register}}
  {{^register}}
    <a class="nav-link" aria-current="page" href="/process/register">Đăng ký</a>
  {{/register}}

  {{#auth}}
    <a class="nav-link active" href="/process/auth">Xác thực</a>
  {{/auth}}
  {{^auth}}
    <a class="nav-link" href="/process/auth">Xác thực</a>
  {{/auth}}

  {{#isAuthor}}
    <a class="nav-link active" href="/process/author">Xét duyệt</a>
  {{/isAuthor}}
  {{^isAuthor}}
    <a class="nav-link" href="/process/author">Xét duyệt</a>
  {{/isAuthor}}
  {{#isStorage}}
  <a class="nav-link active" href="/process/storage">Lưu Trữ</a>
  {{/isStorage}}
  {{^isStorage}}
  <a class="nav-link" href="/process/storage">Lưu Trữ</a>
  {{/isStorage}}
</nav>