<div class="row col-12 mt-5 justify-content-center">
  <form action="/auth/login" method="post" class="col-5 justify-content-center">
    <div class="mb-3 row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Tài Khoản</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="staticEmail"
               name="username">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Mật Khẩu</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword" name="password">
      </div>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-primary mb-3">Đăng Nhập</button>
    </div>
  </form>
</div>